body,
html {
  margin: 0;
  padding: 0;
  background-color: #ffffff !important
  
}
/* .section{
  background-color: #2E2F32
  

} */
.section .container h1,.section .container h2{
color: #000 !important;

}
.section .container h2 strong{
  color: #E52623 !important;
  
  }



nav{
  /* background-color: #000000 !important; */
  color: #000000 !important;
  font-weight: bold;
}
nav a{
  color: #000 !important;
}

nav  a:hover{
  color:#FAB800!important
}

article:hover {
  background-color:#FAB800;
}


.box{

  padding: 4rem !important;
  /* background-color: #C6C6C6; */

}
.box p{
  color: #000;
}

table th, table tbody td{
  color: #000 !important;
}

table{
  width: 100% !important;
  overflow-x: auto;
}

tbody tr:hover{
  background-color:#FAB800;
  color: #000 !important;
  font-weight: bold;

}

tbody tr th:hover,tr td:hover{
  color: #000 !important;
  font-weight: bold;
}

.tile.table {
  max-height: 50rem;
}

.box.hereMap{

  width: 100%;
  height: 50rem;
  padding: 0rem !important;

}